* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

#title {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  

  background: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
  cursor: pointer;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
  cursor: pointer;
}

.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  height: 50vh;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#imageUpload {
  display: none;
}

.submit-btn {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.1em;
}

.submit-btn:hover {
  background: #0056b3;
}

.active {
  background-color: #e0e9ff;
}